<li>
	{{name}}

	<button class="btn-danger btn-sm change-destroyed" data-id="{{id}}" data-destroyed="{{destroyed}}">
		{{#if destroyed}}KILL IT WITH FIRE!!{{else}}KILL IT AGAIN!{{/if}}
	</button>
</li>